:root {
  --main: #434455;
  --white: #FFFFFF;
  --navy-blue: #2E2F42;
  --iris: #4D5AE5;
  --background-light: #F4F4FD;
  --dark-blue: #404BBF;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--main);
  background-color: var(--white);
  letter-spacing: 0.32px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h2 {
  color: var(--navy-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

h3 {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

                                                  /*-- Header --*/


.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--navy-blue);
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.54px;
}

.logo-primary-color {
  color: var(--iris);
}

.header-nav-link {
  font-weight: 500;
  color: var(--navy-blue);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--dark-blue);
}

.header-contacts-link {
  color: var(--main);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--dark-blue);
}


                                                      /*-- Hero section--*/

.hero-section {
  background-color: var(--navy-blue);
}

.hero-title {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; 
  letter-spacing: 1.12px;
}

.hero-button {
  color: var(--white);
  background-color: var(--iris);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--dark-blue);
}

                                                      /*-- Advantage-section --*/

                                                      /*-- Our-team-section --*/

.our-team-sectoin {
  background-color: var(--background-light);
}                                                       

                                                      /*-- Footer --*/

.footer-section {
  background-color: var(--navy-blue);
}
 
.logo-foter {
  color: var(--background-light);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.54px;
}

.footer-page {
  color: var(--background-light);
  line-height: 1.5;
}